@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


.separator {
    border-top: 5px dashed #1f1f1f;
    margin-top: 10px;
}

.nav-item.active .nav-link {
    font-weight: bold;
    color: #0d6efd;
}